<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="1.0.1.1" targetFramework="net452" />
  <package id="linq2db.DB2" version="1.0.0" targetFramework="net452" />
  <package id="linq2db.t4models" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="2.0.1.2" targetFramework="net452" />
  <package id="NLog.Config" version="2.0.1.2" targetFramework="net452" />
</packages>